@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    /*background: linear-gradient(120deg,  #E74C3C, #7D3C98 );*/
    background-color: #2874A6 ;
    display: flex;
    flex-direction: column;
    justify-content: center;/* centro da tela*/
    align-items: center; /* meio da tela*/
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(52, 73, 94 );
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 32, 42 );
    color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
    border-radius: 3px;
}

.relogio div:hover {
    background-color: #2C3E50 ;
    transition: 0.1s;
    height: 175px;
    width: 155px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 20px;
}

.btn-tema {
    height: 60px;
    width: 60px;
    background-color: white;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}

.btn-tema:hover {
    height: 62px;
    transition: 1s;
    width: 62px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgba(23, 32, 42 );
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}

.btn-tema svg {
    height: 50px;
    width: 30px;
    color: rgba(23, 32, 42 );
    cursor: pointer;
    transition: .9s;
}

.btn-tema svg:hover {
    color: white;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
}

